@model List<VirtualConcierge.Models.Review>

<br>
@using (Html.BeginForm("Games", "Home"))
{
    <button class="btn btn-default btn-lg left">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
}
@using (Html.BeginForm("Index", "Home"))
{
    <button class="btn btn-default btn-lg right">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
}

@{
    ViewBag.Title = "Guestbook";
}
<h2 class="center">@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <br>
        <br>
        <br>
        <br>
        
        @foreach (VirtualConcierge.Models.Review review in Model)
            {
             <div class=" backgrounddiv">
               <div>
                <h3 class="center">@review.FirstName @review.LastName</h3>
                <h4 class="center"> @review.Location</h4>
                <h4 class="center">@review.Date</h4>
                <h4 class="center">@review.Note</h4>
             </div>
            </div>
            }
    </div>
    <div class="col-md-2">

            @using (Html.BeginForm("Guestbook", "Home"))
        {
            <form method="post">
                <div class="center">
                    <h3> Leave A Review </h3>
                    <br>
                    <b>First Name:</b> <br>@Html.TextBox("FirstName")
                    @Html.ValidationMessage("FirstName", new { @style = "color:red;!important" })<br />
                    <b>Last Name: </b><br> @Html.TextBox("LastName")
                    @Html.ValidationMessage("LastName", new { @style = "color:red;!important" })<br />
                    <b> Hometown:</b><br> @Html.TextBox("Location")
                    @Html.ValidationMessage("Location", new { @style = "color:red;!important" })<br />
                    <b>Review:</b> <br> @Html.TextArea("Note", null, new { rows = "10" })
                    @Html.ValidationMessage("Note", new { @style = "color:red;!important" })<br />
                    <br>
                    <input type="Submit" />
                </div>
            </form>
        }
        </div>
</div>

