@{
    ViewBag.Title = "Home Page";
}

<br>
<div class="jumbotron">
    <h1>Welcome to the Cozy Room!</h1>
</div>

<br>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        @Html.ActionLink("About Us", "About", null, new { @class = "btn btn-primary col-lg-12 col-md-12 col-sm-12 btn btn1" })

        @Html.ActionLink("Around Town", "Town", null, new { @class = "btn btn-primary col-lg-12 col-md-12 col-sm-12 btn btn4" })
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @Html.ActionLink("General Info", "General", null, new { @class = "btn btn-primary col-lg-12 col-md-12 col-sm-12 btn btn2" })

        @Html.ActionLink("Games", "Games", null, new { @class = "btn btn-primary col-lg-12 col-md-12 col-sm-12 btn btn5" })
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @Html.ActionLink("Pets", "Pets", null, new { @class = "btn btn-primary col-lg-12 col-md-12 col-sm-12 btn btn3"})
   
        @Html.ActionLink("Guestbook", "Guestbook", null, new { @class = "btn btn-primary col-lg-12 col-md-12 col-sm-12 btn btn6"})
    </div>
</div>