@model YelpSharp.Data.SearchResults

<br>
@using (Html.BeginForm("Pets", "Home"))
{
    <button class="btn btn-default btn-lg left">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
}
@using (Html.BeginForm("Games", "Home"))
{
    <button class="btn btn-default btn-lg right">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
}

@{
    ViewBag.Title = "Restaurants Around Town";
}
<h2 class="center">@ViewBag.Title</h2>

<br>
<br>
@if (Model.error != null)
{
    <p>Error! @Model.error.text</p>
}
else
{
    foreach (var business in Model.businesses)
    {
        <div class="center backgrounddiv">
            <img src=" @business.image_url">
            <br>
            <img class="center" src=" @business.rating_img_url_small">
            <h3 class="center">@business.name</h3>
            <h3 class="center">@((business.distance / 1609.34).ToString("#,##0.0")) miles away.</h3>
            <h3 class="center">@business.display_phone</h3>
        </div>
    }
}